.DS_Store
/.build
/.build-npm-arm64
/.build-npm-x86_64
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode/launch.json
/npm/bin/macos-cua
/npm/LICENSE
/npm/*.tgz
